<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Carrito de Compra</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each carrito}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.precio}}{{this.moneda}}</td>
                    <td>{{this.Descripcion}}</td>
                    <td>{{this.cantidad}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>
