<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b30f522dc5.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="" >Sonidos del Cielo <i class="fas fa-guitar" style="color: #8C503A";></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alternar navegación">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse justify-content-end navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="carrito">Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/compraHechas">Gestion Compras</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="/gestion">Administracion</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

    <h1>Tu Carrito de Compras <i class="fas fa-cart-shopping"></i></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {{#each carrito}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.precio}}{{this.moneda}}</td>
                    <td>{{this.cantidad}}</td>
                    <form action="/carrito/eliminar-carrito" method="POST">
                        <input type="hidden" name="productId" value={{this.id}}>
                        <td><button type="submit" class="btn btn-danger">Eliminar</button></td>
                    </form>

                </tr>
            {{/each}}
        </tbody>
    </table>
    <h2>Total: {{total}}{{moneda}}</h2>
        <!-- Formulario para ingresar el nombre del cliente antes de procesar la compra -->
    <div class="container">
        <form action="/carrito/procesar-compra" method="POST">
            <div class="mb-3">
                <label for="nombreCliente" class="form-label">Nombre del Cliente</label>
                <input type="text" class="form-control" id="nombreCliente" name="nombre" required> <!-- Cambio aquí -->
            </div>
            <button type="submit" class="btn btn-info">Procesar Compra</button>
        </form>
    </div>
    <a href="/" class="btn btn-secondary">Seguir comprando articulos</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
